[Unit]
Description=WiringPi GPIO Trigger for %I

[Service]
EnvironmentFile=/etc/systemd/system/gpio-trigger@.service.d/%i
Type=exec
ExecStartPre=/usr/local/bin/gpio -g mode $GPIO in
ExecStartPre=/usr/local/bin/gpio -g mode $GPIO $MODE
ExecStart=/bin/sh -c "\
/usr/local/bin/gpio -g wfi $GPIO falling && \
/bin/sleep $HOLDTIME && \
/usr/local/bin/gpio -g read $GPIO|/bin/grep '0' && \
/bin/sleep $RELEASETIME && \
/usr/local/bin/gpio -g read $GPIO|/bin/grep '1'\
"
ExecStop=/bin/echo \"$MESSAGE\"
ExecStop=/bin/sh -c "$COMMAND"
ExecStopPost=/bin/sleep $DEBOUNCE

Restart=on-success
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target
